swing () {
    user.Play(user.Animations.Swing)
    .Frames[1].OnEnd(() => {
        if (await target.Attack().Success) target.Damage(10);

        
    })
}

StandardCombatant user;
await user.StandardAttack(target, attack_data)
user.ReturnToRow()

public void StandardAttack (ICombatant target) {
    var result = target.Defend(user)

    if (result.hit) {
        target.Damage(10)
    }

    await target.Respond()
}